/*Odnośnik do id header */
#header {
    color: blue;
    top:0;
    left: 0;
}

/* Odnośnik do id page-header */
#page-header {
    font-size: 32px;
    color: blueviolet;

}

/* Style do wszystkich p */
p {
    font-size: 12px;
}

/* Style do klasy w głównej części witryny */
.main-content {
    color: darkgreen;
}

