/*Odnośnik do id header */
#header {
    color: blue;
    top:0;
    left: 0;
}

/* Odnośnik do id page-header */
#page-header {
    font-size: 36px;
    color: blueviolet;

}

/* Style do wszystkich p */
p {
    font-size: 16px;
}

/* Style do klasy w głównej części witryny */
.main-content {
    color: darkgreen;
}

/* Klasa pogrubiająca dla paragrafów */
p.bold {
    text-decoration: underline;
    font-weight: bold;
}